<h1>Mountains!</h1>
<button><%= link_to "New Mountain", "/mountains/new" %></button>
<table>
  <tr>
    <th>Mountain Name</th>
    <th>Created at</th>
  </tr>
  <% @mountains.each do |mt| %>
    <tr>
      <td><%= link_to mt.name, "/mountains/#{mt.id}" %></td>
      <td><%= mt.created_at %></td>
    </tr>
  <% end %>
</table>
